.friendCard {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: 1px solid;
  border-radius: 7px;
  padding: 10px;
}

.name {
  font-size: var(--font-medium);
  font-weight: bold;
}

.online::after {
  content: "Online";
  color: var(--color-green);
}

.offline::after {
  content: "offline";
  color: var(--color-red);
}
